@import "variables.css";

body {
    background: #b0c2cf;
}

.post {
    background: #e0f0ea;
    border-radius: 45px;
    width: 700px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.post h2 {
    font-style: italic;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.post p {
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: #800000;
}