html,
body {
    padding: 0;
    margin: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.navigation
{
    background: grey;
    color:lightgray;
    padding: 5px;
    text-align: center;
}

.footer
{
    background:#470000;
    color: #ff8080;
}

.title {
    font-weight: normal;
    font-size: 28px;
    color: lightgrey;
}

.subtitle {
    font-weight: lighter;
    font-size: 20px;
    color: lightgray;
}

.full-column {
    width: 100%;
    box-sizing: border-box;
}

.half-column {
    width: 49.75%;
    box-sizing: border-box;
    display: inline-block;
}