html,body{
    padding: 0;
    margin: 0;
}
main{
    background: rgb(144, 190, 243);
}
h1{
    font-weight: normal;
    color:rgb(8, 3, 41);
}
h2{
    font-style: italic;
    color: rgb(7, 7, 51);

}
div{
    padding: 10px;
}
hr{
    color: rgb(7, 7, 51);
    height: 0px;
}
p{
    font-size: 20px;
    color: rgb(7, 7, 51);
}
ul{
  border: dotted 2.5px black;  
}
ol{
    border: solid 2.5px black; 
    padding: 0px; 
    margin: 0px;
    background: yellowgreen;
  }
  footer{
    background: rgb(14, 201, 107);
  }