html,body{
    padding: 0;
    margin: 0;
}
main{
    background: rgb(144, 190, 243);
}
.index-title{
    font-weight: normal;
    color:rgb(8, 3, 41);
    font-style: italic;
    color: rgb(7, 7, 51);

}
.index-description{
    padding: 10px;
}
.index-description{
    font-size: 20px;
    color: rgb(7, 7, 51);
}
.index-description{
  border: dotted 2.5px black;  
}
.index-description{
    border: solid 2.5px black; 
    padding: 0px; 
    margin: 0px;
    background: yellowgreen;
  }
  footer{
    background: rgb(14, 201, 107);
  }