:root {
    --footer-color: #e0f0ea;
    --primary-color: #95adbe;
    --color: #7b72a7;
    --primary-background: #503a65;
    --secondary-color: #3b2a4c;
}

.post {
    --primary-background: #f8fcfa;
}